

// variables
// Backgroun  Principales
$bg-primary: #0F0F0F;
$bg-secondary: #1A1A1A;
$card-bg: #242424;
$bg-tercery:#eee;
// textos 
$text-primary: #FFFFFF;
$text-secondary: #B3B3B3;
// Botones
$accent: #FF6B00;
$accent-hover: #FF8533;
$border: #333333;
// fuentes
$font: 'Poppins', sans-serif;