@font-face{
    font-family: "principal";
    src: url(../font/autography/Autography.otf) format("opentype");
    font-weight: 400;

}

@font-face{
    font-family: "secundaria";
    src: url(../font/kenyan/Kenyan\ Coffee\ Rg.otf) format("opentype");
    font-weight: 400;

}

@font-face{
    font-family: "secundaria";
    src: url(../font/kenyan/Kenyan\ Coffee\ Bd.otf) format("opentype");
    font-weight: 900;

}