@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

// Tarjetas de Planes 
.box_planes-item{
    min-width: 300px;
    flex: 1;
    height: 450px;
    background-color: $border;
    border-radius: 15px;
    margin: auto;
    @include flex-base(column, null, null);
    border-top: 1px solid $accent-hover;
}

.box_planes-item h3{
    padding: 10px;
    text-align: center;
    color: $text-secondary;
    background-color: $card-bg;
    border-radius: 15px 15px 0 0;
}

.box_planes-item p{
    padding: 10px;
    text-align: center;
    color: $text-secondary;
}

.box_planes-item ul{
    padding: 15px 25px;
    line-height: 2;
    
}

.box_planes-item ul li{
    color: $text-secondary;

    
}

.box_planes-item a{
    text-decoration: none;
    margin: auto;
    color:$text-secondary;
    padding: 5px;
    background:$bg-secondary;
    border-radius: 5px;
}

.box_planes-item a:hover{
    font-size: 1.2rem;
    background: $accent-hover;
    transition: font-size .2s ease, background .2s ease;
}


// targeta de productos
.productos_item {
    overflow: hidden;
    @include flex-base( column, null, null);
    border-radius: 10px;
    background: linear-gradient(
    135deg,
    rgba(250, 240, 220, 0.75),
    rgba(220, 195, 160, 0.9));
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.376);
    position: relative;
}

.img_productos{
    max-width: 100%;
    width: 100%;
    max-height: 60%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;

}

.img_productos:active{
    position: absolute;
    max-height: 100%;
    height: 100%;
}

.valor_productos{
font-weight: bold;
padding: 2px;
margin-left: 5px;
}

.cantidad_vendidas{
font-size: .8rem;
}


.description_productos{
    text-decoration: none;
    padding: 3px;
    margin-left: 5px;
    color: inherit;
}

// contenedor interno del carrito
.container_vendidos-icon-cart{
    @include flex-base( null, space-between, center);
    padding: 8px;
}

.button-cart{
background: transparent;
border: none;
}

.button-cart:hover{
background: $accent-hover;
color: $text-secondary;
border-radius: 5px;
}

.icon-cart{
    font-size: 1.5rem;
    border: 1px solid $bg-primary;
    border-radius: 5px;
    padding: 2px;
}
.icon-cart:hover{
    font-size: 1.7rem;
    transition: font-size .2s ease;
}